<div id="logo">
	<img src="img/logoold.png" />
</div>
<div id="announce">
<div id="content">
<div class="ad-gallery" id="photos">
  <div class="ad-image-wrapper">
  </div>
  <!--div class="ad-controls">
  </div-->
  <div class="ad-nav">
    <div class="ad-thumbs">
      <ul class="ad-thumb-list">
        <li>
          <a href="img/2008/00.jpg">
            <img src="img/2008/00s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2008/01.jpg">
            <img src="img/2008/01s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2008/02.jpg">
            <img src="img/2008/02s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2008/03.jpg">
            <img src="img/2008/03s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2008/04.jpg">
            <img src="img/2008/04s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2008/05.jpg">
            <img src="img/2008/05s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2008/06.jpg">
            <img src="img/2008/06s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2008/07.jpg">
            <img src="img/2008/07s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2008/08.jpg">
            <img src="img/2008/08s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2008/09.jpg">
            <img src="img/2008/09s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2008/10.jpg">
            <img src="img/2008/10s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2008/11.jpg">
            <img src="img/2008/11s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2008/12.jpg">
            <img src="img/2008/12s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2008/13.jpg">
            <img src="img/2008/13s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2008/14.jpg">
            <img src="img/2008/14s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2008/15.jpg">
            <img src="img/2008/15s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2008/16.jpg">
            <img src="img/2008/16s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2008/17.jpg">
            <img src="img/2008/17s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2008/18.jpg">
            <img src="img/2008/18s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2008/19.jpg">
            <img src="img/2008/19s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2008/20.jpg">
            <img src="img/2008/20s.jpg" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
</div>
</div>
