<div id="logo">
	<img src="img/logoold.png" />
</div>
<div id="announce">
<div id="content">
<div class="ad-gallery" id="photos">
  <div class="ad-image-wrapper">
  </div>
  <!--div class="ad-controls">
  </div-->
  <div class="ad-nav">
    <div class="ad-thumbs">
      <ul class="ad-thumb-list">
        <li>
          <a href="img/2009/00.jpg">
            <img src="img/2009/00s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2009/01.jpg">
            <img src="img/2009/01s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2009/02.jpg">
            <img src="img/2009/02s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2009/03.jpg">
            <img src="img/2009/03s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2009/04.jpg">
            <img src="img/2009/04s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2009/05.jpg">
            <img src="img/2009/05s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2009/06.jpg">
            <img src="img/2009/06s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2009/07.jpg">
            <img src="img/2009/07s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2009/08.jpg">
            <img src="img/2009/08s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2009/09.jpg">
            <img src="img/2009/09s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2009/10.jpg">
            <img src="img/2009/10s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2009/11.jpg">
            <img src="img/2009/11s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2009/12.jpg">
            <img src="img/2009/12s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2009/13.jpg">
            <img src="img/2009/13s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2009/14.jpg">
            <img src="img/2009/14s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2009/15.jpg">
            <img src="img/2009/15s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2009/16.jpg">
            <img src="img/2009/16s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2009/17.jpg">
            <img src="img/2009/17s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2009/18.jpg">
            <img src="img/2009/18s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2009/19.jpg">
            <img src="img/2009/19s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2009/20.jpg">
            <img src="img/2009/20s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2009/21.jpg">
            <img src="img/2009/21s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2009/22.jpg">
            <img src="img/2009/22s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2009/23.jpg">
            <img src="img/2009/23s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2009/24.jpg">
            <img src="img/2009/24s.jpg" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
</div>
</div>
