<div id="logo">
	<img src="img/logoold.png" />
</div>
<div id="announce">
<div id="content">
<div class="ad-gallery" id="photos">
  <div class="ad-image-wrapper">
  </div>
  <!--div class="ad-controls">
  </div-->
  <div class="ad-nav">
    <div class="ad-thumbs">
      <ul class="ad-thumb-list">
        <li>
          <a href="img/2007/00.jpg">
            <img src="img/2007/00s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2007/01.jpg">
            <img src="img/2007/01s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2007/02.jpg">
            <img src="img/2007/02s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2007/03.jpg">
            <img src="img/2007/03s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2007/04.jpg">
            <img src="img/2007/04s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2007/05.jpg">
            <img src="img/2007/05s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2007/06.jpg">
            <img src="img/2007/06s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2007/07.jpg">
            <img src="img/2007/07s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2007/08.jpg">
            <img src="img/2007/08s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2007/09.jpg">
            <img src="img/2007/09s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2007/10.jpg">
            <img src="img/2007/10s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2007/11.jpg">
            <img src="img/2007/11s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2007/12.jpg">
            <img src="img/2007/12s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2007/13.jpg">
            <img src="img/2007/13s.jpg" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
</div>
</div>
