<div id="logo">
<div id="logotext">
	<img src="/img/logo2015.jpg" />

<div id="titlesign">
<p>Дорогие друзья!<br/>
Мы рады представить вам самое тихое мероприятие года</p>
<h1>Негромкий подпольник 2015</h1>
</div>
</div>
</div>

<div id="announce">
<div id="content">

<h2>Друзья!</h2>
<p>Очередной Подпольник запланирован на&nbsp;5&nbsp;сентября, субботу, на&nbsp;том&nbsp;же месте (за&nbsp;городом на&nbsp;поляне, 9&nbsp;км, карта <a href="?y=map2015">на&nbsp;сайте</a> и&nbsp;в&nbsp;группе).</p>
<p>В&nbsp;прошлом году даже дождь нас не&nbsp;распугал, так что наша традиция собираться в&nbsp;лесу продолжается! Как обычно, у&nbsp;нас есть совершенно необязательная для соблюдения тема: в&nbsp;этот раз это пижамки-кугуруми. Но&nbsp;вас в&nbsp;вашей фантазии ничего не&nbsp;ограничивает.</p>
<p>Разумеется, мероприятие не&nbsp;может пройти без участников. Мы&nbsp;делаем этот маленький праздник только все вместе! Мы&nbsp;зовем всех выступать на&nbsp;нашей импровизированной сцене!</p>
<p>Это прекрасный шанс показать: номер, который не&nbsp;прошел на&nbsp;какой-нибудь другой фест; номер, который прошел, но&nbsp;вы&nbsp;хотите показать его еще раз; номер, который не&nbsp;подходит ни&nbsp;к&nbsp;какому фесту, но&nbsp;вы&nbsp;его все равно хотите показать; номер, который вы&nbsp;вообще еще никому не&nbsp;показывали; номер, который вы&nbsp;только что придумали и&nbsp;собрали на&nbsp;коленке...</p>
<p>При этом зрители будут рады и&nbsp;вокалу, и&nbsp;сценке, и&nbsp;танцам, и, как это обозначается обычно в&nbsp;заявках, &laquo;другому&raquo;. Кстати, в&nbsp;отличие от&nbsp;фестивалей, в&nbsp;нашем специальном Дефиле-Лес могут принимать участие и&nbsp;те, кто выступал со&nbsp;сценками! Не&nbsp;забывайте, на&nbsp;вас будут смотреть и&nbsp;организаторы Воронежского фестиваля, так что это прекрасный шанс показать им&nbsp;себя!</p>
<p>Кроме того, возможно, вы&nbsp;придумали, чем можно развлекать гостей Подпольника. Хотите устроить мастеркласс? Провести бои на&nbsp;дубинах? Постелить коврики и&nbsp;поить всех желающих чаем? А&nbsp;может, вы&nbsp;даже хотите использовать нашу полянку как торговое место. Все это реализуемо, достаточно подать заявку на&nbsp;сайте: <a href="http://podpolnik.otaku.ru/app">http://podpolnik.otaku.ru/app</a></p>
<p>Вы&nbsp;все, конечно, помните, что у&nbsp;нас есть <a target="_blank" href="http://vk.com/podpolnik">группа</a> и&nbsp;<a target="_blank" href="http://vk.com/podpolnik2015">событие</a> вКонтакте!</p>
<p>С&nbsp;вами будет команда оргов и&nbsp;ведущих&nbsp;&mdash; Астис, Веня, Мотоко и&nbsp;dNafigator.</p>
<p>Оставайтесь с&nbsp;нами!</p>

<!--h2>А что потом?</h2><br/>
<img src="img/logoloud2014.jpg" 
alt="И в этом году люди, которые знают толк в аниме-пати, проведут для вас Громкое Ночное Опен-Эйр-Пати в рамках (и немного за рамками) Негромкого Подпольника. Вас ждёт незабываемая ночь в лесу. Так что берите с собой палатки и оставайтесь до утра."
/><br/>
<p>И в этом году люди, которые знают толк в аниме-пати, проведут для вас Громкое Ночное Опен-Эйр-Пати в рамках (и немного за рамками) Негромкого Подпольника. Вас ждёт незабываемая ночь в лесу. Так что берите с собой палатки и оставайтесь до утра.</p>
<p><a target="_blank" href="https://vk.com/event73393686">Событие</a> вКонтакте.</p-->

<!--h2>Фоты!</h2>
<p>
Ссылки на галереи ВК:
<ul>
<li><a href="http://vk.com/album57687220_160813407">http://vk.com/album57687220_160813407</a>
<li><a href="http://vk.com/album95508504_161515241">http://vk.com/album95508504_161515241</a></li>
<li><a href="http://vk.com/album74996007_161400629">http://vk.com/album74996007_161400629</a></li>
<li><a href="http://vk.com/album35869646_161199673">http://vk.com/album35869646_161199673</a></li>
<li><a href="http://vk.com/album11429085_161439742">http://vk.com/album11429085_161439742</a></li>
<li><a href="http://vk.com/album-40980147_161487690">http://vk.com/album-40980147_161487690</a></li>
</ul>
Все фотографии взяты из открытых источников и принаждлежат своим владельцам.
</p-->

<h2>Поделиться</h2>
<p>Если у вас хватило терпения дочитать до этого места — немедленно поделитесь с друзьями
<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style "

addthis:title="А ты идешь на «Негромкий подпольник»?"
addthis:url="http://podpolnik.otaku.ru/"
>
<a class="addthis_button_twitter"></a>
<a class="addthis_button_facebook"></a>
<a class="addthis_button_vk"></a>
<a class="addthis_button_livejournal"></a>
<a class="addthis_button_email"></a>
<a class="addthis_button_compact"></a>
<a class="addthis_counter addthis_bubble_style"></a>
</div>
<!--div id="imagealign">
<img src="img/title2011a.gif" />
</div-->

<script type="text/javascript">var addthis_config = {"data_track_clickback":true};</script>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4e2727a27fdc7c89"></script>
<!-- AddThis Button END -->
</p>

</div>
</div>
