<div id="logo">
	<img src="img/logoold.png" />
</div>

<div id="announce">
<div id="content">

<div class="ad-gallery" id="photos">
  <div class="ad-image-wrapper">
  </div>
  <!--div class="ad-controls">
  </div-->
  <div class="ad-nav">
    <div class="ad-thumbs">
      <ul class="ad-thumb-list">
        <li>
          <a href="img/2010/00.jpg">
            <img src="img/2010/00s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2010/01.jpg">
            <img src="img/2010/01s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2010/02.jpg">
            <img src="img/2010/02s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2010/03.jpg">
            <img src="img/2010/03s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2010/04.jpg">
            <img src="img/2010/04s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2010/05.jpg">
            <img src="img/2010/05s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2010/06.jpg">
            <img src="img/2010/06s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2010/07.jpg">
            <img src="img/2010/07s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2010/08.jpg">
            <img src="img/2010/08s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2010/09.jpg">
            <img src="img/2010/09s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2010/10.jpg">
            <img src="img/2010/10s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2010/11.jpg">
            <img src="img/2010/11s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2010/12.jpg">
            <img src="img/2010/12s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2010/13.jpg">
            <img src="img/2010/13s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2010/14.jpg">
            <img src="img/2010/14s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2010/15.jpg">
            <img src="img/2010/15s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2010/16.jpg">
            <img src="img/2010/16s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2010/17.jpg">
            <img src="img/2010/17s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2010/18.jpg">
            <img src="img/2010/18s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2010/19.jpg">
            <img src="img/2010/19s.jpg" />
          </a>
        </li>
        <li>
          <a href="img/2010/20.jpg">
            <img src="img/2010/20s.jpg" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
</div>
</div>