<div id="announce">
<div id="content">
<h1>Негромкий подпольник 2015</h1>
<p>05 сентября 2015 года, Воронеж, 9 километр, лес. Сбор на остановке &laquo;Студгородок ВПИ&raquo; (9-й километр)
Вы можете добавить это событие себе 
<a href="https://www.google.com/calendar/event?action=TEMPLATE&text=Негромкий+подпольник+2015&dates=20150905T060000Z/20150905T150000Z&details=http://podpolnik.otaku.ru/">в календарь</a>,
или присоединиться к нему <a  target="_blank" href="http://vk.com/podpolnik2015">ВКонтакте</a>.
</p>
</p>
<iframe src="https://www.google.com/maps/d/embed?mid=zlocvFjJPfmc.kogy9NnqkSNE" width="800" height="480"></iframe>

<p><a href="/">Назад</a></p>
</div>
</div>