<div id="announce">
<div id="content">
<h1>Негромкий подпольник 2015</h1>
<p>02 сентября 2017 года, Воронеж, 9 километр, лес.<br/>
Вы можете добавить это событие себе 
<b><a target="_blank" href="https://www.google.com/calendar/event?action=TEMPLATE&text=Негромкий+подпольник+2017&dates=20170902T080000Z/20170902T150000Z&details=http://podpolnik.otaku.ru/">в календарь</a></b>,
или присоединиться к нему <b><a target="_blank" href="http://vk.com/vrnpodpolnik2017">ВКонтакте</a></b>.
</p>
</p>
<iframe src="https://www.google.com/maps/d/embed?mid=1PuP49gyqQp-U00aF9j-_CoMcx7E" width="800" height="480"></iframe>

<p><a href="/">Назад</a></p>
</div>
</div>