*, { margin:0; padding:0; }

body
{
	font-family: 'Ubuntu', Tahoma, Verdana, Arial;
	margin: 0;
#	background-color: #4F8549;
	background-color: white;
	line-height: 120%;
	background-color: #ccc;
}
div#site
{
	margin: 0 auto;
	width: 900px;
}


div#years
{
	position: relative;
	width: 100%;
	height: 25px;
	margin:0;
	padding:0;
	background-color: #4F8549;
}

div#years #content
{
	margin-left: 25px;
}

div#years ul
{
	list-style-image:none;
	list-style-type:none;
	margin:0;
	padding:0;
}

div#years ul li
{
	float:left;
	text-decoration: none;
	list-style-image:none;
	list-style-type:none;
	font-size: 13px;
	text-align: center;
	line-height: 25px;
	width: 60px;

}

div#years div#content ul li#current
{
	font-size: 17px;
}

div#years div#content ul li a
{
	text-decoration: none;
	color:#4B1452;
}

div#years div#content ul li a:hover
{
	text-decoration: none;
	color:#141B52;
}


div#logo
{
	margin: 0px;
	padding: 10px 40px;
	clear: both;
	position: relative;
	height: 188px;
	background-color: #82B87C;
	font-weight: normal;
	font-size: 14px;
	align: center;
}

div#logo div#titlesign
{
	margin-top: 20px;
	float: right;
	color: #4B1452;
}

div#logo div#titlesign a
{
	color: blue;
}

div#logo div#titlesign a:visited
{
	color: blue;
}

div#logo div#logotext
{
	width: 800px;
}

div#logo h1
{
	font-weight: normal;
	font-size: 32px;
	text-align: left;
}


div#announce
{
	position: relative;
	clear: both;
	background-color: white;
	margin: 0;
	padding: 0;
}

div#announce div#content
{
	font-size: 14px;
	margin-left: 50px;
	margin-right: 50px;
	padding-bottom: 20px;
	padding-top: 20px;
}

div#announce div#content ul
{
	margin-bottom: 0px;
	margin-top: 0px;
}

div#announce div#content h1
{
	font-weight: normal;
	font-size: 28px;
	align: center;
}

div#announce div#content h2
{
	font-weight: normal;
	font-size: 22px;
	margin-top: 12px;
	margin-bottom: 0px;
}

div#announce div#content p
{
	margin-top: 7px;
	margin-bottom: 3px;
}




div#announce div#content a
{
	color: #2020DD;
}


div#announce div#content div#imagealign
{
	width: 660px;
	text-align: right;
	padding: 50px 0 50px 0;
}

div#photos
{
	margin-left: 100px;
}


div#bottom
{
	position: relative;
	width: 100%;
	height: 40px;
	margin-top: 5px;
}

div#bottom div#content
{
	font-size: 10px;
	text-align: left;
	margin-left: 50px;
}

.addthis_default_style
{
	margin-top: 10px;
}