/*
 * jQuery Nivo Slider v2.0
 * http://nivo.dev7studios.com
 *
 * Copyright 2010, Gilbert Pellegrom
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 *
 * March 2010
 */


/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
	font-family: Arial;
	font-size: 20px;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:60;
	display:none;
}
/* The slices in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:50;
	height:100%;
}
/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	bottom:-100px;
	color:#636363;
	opacity:0.8; /* Overridden by captionOpacity setting */
	width:100%;
	z-index:89;
	filter:alpha(opacity=50);
	height:100px;
}
-,.nivo-caption{
     background:#000;
}
*html .nivo-caption
{
	background:#000;
}
.nivo-caption p {

	font-size:15px;
	padding-top:20px;
	margin:0;
}

.nivo-caption .addr {

	padding-top:5px;
	margin:0;
	font-size:11px;
}
.nivo-caption p a img
{
		margin-top:8px;
		border:0;
		margin-left: 522px;
		float:right;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:230px;
	z-index:99;
	cursor:pointer;
}
.nivo-prevNav {
	left:0;
	background: url(../images/eplay_arr_left.png) no-repeat;
	width: 29px;
	height: 29px;
}
.nivo-nextNav {
	left: 38px;
	right:55px;
	background: url(../images/eplay_arr_right.png) no-repeat;
	width: 29px;
	height: 29px;
}

.nivo-prevNav:hover {
	opacity: 0.85;
}
.nivo-nextNav:hover {
	opacity: 0.85;
}


/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav a {
	position:relative;
	z-index:99;
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}

.nivo-html-caption {
	display:none;
}