* {
 font-size: 100%;
 margin: 0px;
}
h1, h2, h3, h4, h5, h6 {
 font-weight: normal;
 padding: 0px;
}
table, th, td {
 padding: 0px;
 text-align: left;
 vertical-align: top;
 border-collapse: collapse;
}
ol, ul, li {
 padding: 0px;
 list-style: none;
}
img, fieldset {
 border: 0px;
}
fieldset {
 padding: 0px;
}
b {
 font-weight: normal;
}
i {
 font-style: normal;
}
:focus {
 outline: 0;
}