body
{
     margin:0;
    padding:0;
    text-align: center;
    color:#0f0f0f;
	background: #ffffff;
}
#wrapper
{
    width:1080px;

    border: none;

    min-height: 300px;
    height:100%;
    font-family:Arial;
    margin: 0 auto;
    text-align: left;
	line-height:1.4;
}
*html  #wrapper
{
 line-height:1.3;
}
a img
{
	border:0;
}
a
{
	color: #636363;
	 outline: none; /* Убираем границу вокруг ссылок */

}
a:hover
{
	color:#a7a7a7;
}

#topbar
{

	width:100%;
	height:29px;

}
#topbar .log
{
	margin:0 auto;
	float: left;
	height:29px;
	background:url(../images/bg_log.jpg) repeat-x;
	line-height:26px;
	padding-left:60px;
	padding-right:60px;
	position:relative;
	z-index:0;
	font-size:11px;
	color:#636363;
}
#topbar .log_l
{
	width:50px;
	height:29px;
	position:absolute;
	background:url(../images/bg_log_left.jpg) no-repeat;
	left:0px;
	top:0px;
	z-index:1;
}
#topbar .log_r
{
	width:50px;
	height:29px;
	position:absolute;
	background:url(../images/bg_log_right.jpg) no-repeat;
	right:0px;
	top:0px;
	z-index:1;
}


#topbar .log .item
{
	position:relative;
	float:left;
	height:26px;
	margin-left:3px;
	margin-right:3px;
}
#topbar .log .item  a.link
{
	padding-left: 10px;
	padding-right: 5px;
	font-size: 11px;
	height:26px;
}
#topbar .log .item .img
{
	width: 8px;
	height: 9px;
	margin-top: 8px;
	margin-left:1px;
	margin-bottom:-1px;
}




#inner_wrapper
{
    width:972px;

    border: none;

    min-height: 300px;
    height:100%;
    font-family:Arial;
    margin: 0 auto;
    text-align: left;
	position:relative;
	margin-top: 25px;
}

#logo
{	
	height:63px;
	margin-left:0px;
	width:166px;
	float:left;
}
#shops
{
	margin-top:36px;
	margin-left:133px;
	width:170px;
	float:left;
	font-size:11px;
	line-height:1.6;
}
#auth {
	margin-top: 36px;
	float: right;
	font-size: 11px;
	text-align: right;
}
#shops a
{
	padding-left:15px;
}
#shops a.selected
{
	background:url(../images/left_arr_white.gif) 0px 2px no-repeat;
}
.clearer
{
	overflow:hidden;
	font-size:0px;
	height:1px;
	clear:both;
}

#prom
{
	width:393px;
	height:110px;
	background: url(../images/bg_promo.jpg) no-repeat;
	position:absolute;
	right:-20px;
	top:30px;
}
#prom .in
{
	position:relative;
	width:393px;
	height:110px;
}
#prom .info_hover
{
	width:299px;
	height:63px;
	background: url(../images/info_hover.png) no-repeat;
	position:absolute;
	left:69px;
	top:-42px;
	z-index:1px;
	font-size:11px;
	padding-left:25px;
	padding-right:20px;
	padding-top:10px;
	display:none;

}

#prom .info_hover a img
{
	margin-left:1px;
	margin-bottom:-1px;
}
#prom .info
{
	width:14px;
	height:14px;
	background: url(../images/info.gif) no-repeat;
	position:absolute;
	left:93px;
	top:12px;
	cursor:pointer;
	z-index:0px;
}

#menu1
{
	margin-top: 50px;
	height: 40px;
}
#menu1 .item
{
	float:left;
	margin-left: 15px;
	margin-right:15px;
	height: 40px;
	vertical-align: middle;
	margin-top:10px;
	font-size: 13px;
}
*html #menu1
{
	margin-left:-8px;
}
#prok
{
	height:45px;
	position:relative;
	float:right;
	width: 248px;
	background: url(../images/bg_promo.png) no-repeat;
	margin-top:27px;
	margin-right:26px;

}
#prok .prok_left
{
	position:relative;
	width:187px;
	height:45px;
	float:left;
}


#prok  .prok_left    input
{
	border:none;
	color: #636363;
	font-size:16px;
	width:160px;
	background:none;
	height:25px;
	float:left;
	margin-top:9px;
	margin-left:20px;
}

#prok .prok_right
{
	position:relative;
	width:61px;
	height:45px;
	float:right;

}


#prok  .prok_right   span.mid
{
	float:left;
   padding-top: 10px;
   padding-left:16px;
   font-size:18px;
   color:#fff;
   height:45px;


}

.form-submit, .form-submit-hover {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  opacity: 0;
  filter: alpha(opacity=0);
  padding: 0px;
  border: none;
  height: 100%;
  width: 100%;
  background-color:#ffffff;

 }

 .form-submit-hover
 {
	background-color:#ffffff;
	  opacity: 0.3;
  filter: alpha(opacity=30);
 }

 #nav_left,  .nav_left_h
 {
	margin-top:35px;
	height:40px;
	background:url(../images/nav_left.gif) no-repeat;
	width:100%;
	padding-left:20px;

 }
 .nav_left_h
  {
	background:url(../images/nav_left_h.gif) no-repeat;
 }
#nav
{
	height:40px;
	background:url(../images/nav_bg.gif) repeat-x;
	margin-right:20px;
}
#nav_right
{
	height:40px;
	background:url(../images/nav_right.gif) no-repeat right top;
	width:100%;
}

#search
{
	width:248px;
	height:27px;
	float:right;
	background:url(../images/bg_search.png) no-repeat;
	margin-top:6px;
	margin-right:8px;
}
*html #search .in
{
	width:248px;
	height:27px;
margin-top:6px;
	background:url(../images/bg_search.png) no-repeat;
}

*html #search
{
	margin-top:0px;
	background:url(../images/nav_bg.gif) repeat-x;
	height:40px;
	margin-left:-3px;
}

#search input
{
	width:210px;
	margin-top:4px;
	margin-left:9px;
	border:0;
	background:#fff;
	float:left;
}
*html #search input
{
	width:200px;
}

 #menu
{
	float: left;
	height: 40px;
	line-height: 40px;
	display: block;
	margin-left:-2px;
}
#menu ul
{
	list-style-image:none;
	list-style-type:none;
	margin:0;
	padding:0;
}
#menu ul li
{
	float:left;
	color:#ffffff;
	text-decoration: none;
	list-style-image:none;
	list-style-type:none;
	font-size: 13px;

	line-height: 40px;
}
#menu ul li.del
{
	background-image:url("../images/delimiter.gif");
	background-repeat:no-repeat;
	background-position:right;
}
#menu ul li.del2:hover
{


}
#menu ul li a
{
	text-decoration:none;
	color:#ffffff;
	display:block;
	font-size: 13px;
	line-height:40px;
		padding-right: 15px;
	padding-left:15px;

}
#menu ul li a :hover
{
	background: url(../images/nav_arr.gif) no-repeat bottom center;
}
#menu ul li a.drop
{
	color:#38c226;
}
#menu ul li a.down
{

}
#menu ul li span.down
{

}
#content
{
	margin-top:40px;
	width:690px;
	float:left;
	margin-left:15px;
	color:#636363;
	font-size:13px;
}
#content.in
{
	margin-top:47px;
}
h1
{
	margin:0;
	padding:0;
	font-size:25px;
	font-weight:normal;
}
h2
{
	margin:0;
	padding:0;
	font-size:18px;
	font-weight:normal;
	margin-top:27px;
        margin-bottom:10px;
}

.header a
{
	text-decoration:none;
}
*html #content
{
margin-left:7px;
}

#banners
{
	margin-top:43px;
	margin-left:725px;
	width:240px;
	min-height:200px;
	position:relative;


}
#banners .header1
{
	font-size:18px;
	color: #636363;
	margin-bottom:20px;
}
#banners .header1 img
{
	margin-left:6px;
	margin-bottom:-1px;
}

#carousel
{
		padding-left:4px;
	padding-top:3px;
	width:670px;
	height:240px;
	background: url(../images/carousel_bg.jpg) no-repeat;
	margin-top:-3px;

}

#acc
{
	position:relative;
	min-height:144px;
	width:240px;
	background: url(../images/bg_acc.jpg) repeat-y;
	margin-top:-2px;
}
#acc .top
{
	position:absolute;
	top:0px;
	left:0px;
	width:240px;
	height:130px;
	background: url(../images/bg_acc_top.jpg) 0 0 no-repeat;
}
#acc .megafon
{
	position:absolute;
	top:-7px;
	left:10px;
	width:79px;
	height:57px;
	background: url(../images/megafon.png) no-repeat;
}
#acc .bot
{
	position:absolute;
	bottom:0px;
	left:0px;
	width:240px;
	height:14px;
	background: url(../images/bg_acc_bot.jpg) 0 0 no-repeat;
}
#acc .text
{
	position:relative;
	width:240px;
}
#acc .text2
{
	font-size:13px;
	width:200px;
	margin-top:10px;
	margin-left:10px;
	padding:10px;
	padding-bottom:20px;
}
#acc .header {
    color: #636363;
    font-size: 18px;
	margin-left:108px;
	padding-top:13px;
}

#acc .header .img {
    margin-left: 8px;
}

#top10
{
	width:240px;
	margin-top:30px;
	position:relative;
	margin-bottom:30px;
}

#top10 .header {
    color: #636363;
    font-size: 18px;
}

#top10 .header .img {
    margin-left: 8px;
}

#banners .header {
    color: #636363;
    font-size: 18px;
}

#banners .header .img {
    margin-left: 8px;
}

#top10 .item
{
	width:240px;
	position:relative;
	padding-bottom:9px;
	overflow:hidden;
}
#top10 .item .img
{
	width:70px;
	height:70px;
	border:1px #ebebeb solid;
	float:left;
}
#top10 .item .img:hover
{
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=85); /* IE 5.5+*/
	-moz-opacity: 0.85; /* Mozilla 1.6 и ниже */
	-khtml-opacity: 0.85; /* Konqueror 3.1, Safari 1.1 */
	opacity: 0.85; /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9+ */
}
#top10 .item .text
{
	margin-left:90px;
	width:140px;
	margin-top:10px;
	font-size:11px;
}
#top10 .go
{
	font-size:13px;
	margin-top:15px;
}

#mainleft
{
	width:280px;
	position:relative;
	float:left;
	margin-top:29px;
	margin-left:5px;
}

#bigfish
{
	position:relative;
	width:280px;
	height:258px;
	background: url(../images/bg_bigfish.jpg) no-repeat;
}

#bigfish .item
{
	width:110px;
	position:relative;
	float:left;
	margin-left:20px;
	margin-top:34px;
}
*html #bigfish .item
{
	margin-left:10px;
}
#bigfish .item  .img
{
	width:110px;
	height:110px;
	border:1px #ebebeb solid;
}
#bigfish .item  .img:hover
{
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=85); /* IE 5.5+*/
	-moz-opacity: 0.85; /* Mozilla 1.6 и ниже */
	-khtml-opacity: 0.85; /* Konqueror 3.1, Safari 1.1 */
	opacity: 0.85; /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9+ */
}
#bigfish .item  .text
{
	margin-top:10px;
	font-size:11px;
	text-align:center;
}
#bigfish .logo
{
	width:67px;
	height:64px;
	background: url(../images/big_fish.png)  no-repeat;
	position:absolute;
	left:15px;
	top:-10px;
}
#bigfish .header {
    color: #636363;
    font-size: 18px;
	margin-left:94px;
	padding-top:16px;
}

#bigfish .header .img {
    margin-left: 8px;
}

#klassik .header {
    color: #636363;
    font-size: 18px;
}
#klassik
{
	width:280px;
	margin-top:31px;
	margin-left:5px;
}
#klassik .header .img {
    margin-left: 8px;
}

#klassik .item
{
	width:280px;
	position:relative;
	margin-bottom:8px;
	clear:both;
	overflow:hidden;

}
#klassik .item .img
{
	width:50px;
	height:50px;
	border:1px #ebebeb solid;
	float:left;
}
#klassik .item .img:hover
{
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=85); /* IE 5.5+*/
	-moz-opacity: 0.85; /* Mozilla 1.6 и ниже */
	-khtml-opacity: 0.85; /* Konqueror 3.1, Safari 1.1 */
	opacity: 0.85; /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9+ */
}
#klassik .item .text
{
	margin-left:70px;
	width:210px;
	margin-top:7px;
	font-size:11px;
}
*html #klassik .item .text
{
	margin-left:65px;
}

#favs
{
	width:340px;
	margin-top:40px;
	margin-left:5px;
}
#favs .header .img {
    margin-left: 8px;
}
#favs .header {
    color: #636363;
    font-size: 18px;
}
#favs .item
{
	width:340px;
	position:relative;
	margin-bottom:28px;
	clear:both;
	overflow:hidden;
	margin-top:5px;
}
#favs .item .img
{
	width:340px;
	height:118px;
	border:1px #ebebeb solid;
}
#favs .item .img:hover
{
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=85); /* IE 5.5+*/
	-moz-opacity: 0.85; /* Mozilla 1.6 и ниже */
	-khtml-opacity: 0.85; /* Konqueror 3.1, Safari 1.1 */
	opacity: 0.85; /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9+ */
}

#favs .item .link
{
	font-size:14px;
	width:340px;
	margin-top:15px;
}
#favs .item .text
{
	width:340px;
	margin-top:5px;
	font-size:11px;
}



#mainright
{
	width:342px;
	float:left;
	position:relative;
	margin-left:37px;
	overflow:hidden;
	margin-top:5px;
}

#magmap
{
	margin-top:10px;
}

#shopad
{
	width:700px;
	position:relative;
	margin-top:30px;
	margin-left:-40px;
}
#shopad .oneshop
{
	width:310px;
	margin-bottom:23px;
	float:left;
	position:relative;
	margin-left:40px;
	height:160px;
}
#shopad .oneshop .head
{
	font-size:18px;
}
#shopad .oneshop .head a
{
	text-decoration:none;
}
#shopad .oneshop .head .img
{
	margin-left: 6px;
	margin-bottom:-1px;
}
#shopad .oneshop .link
{
	font-size:11px;
	margin-top:5px;
}
#shopad .oneshop .text
{
	font-size:11px;
	margin-top:5px;
}
#shopad .oneshop .text sup
{
	font-size:7px;
}
#selection
{
	margin-top:45px;
	height:34px;
}
#selection a
{
	text-decoration:none;
}

#selection .item_left, #selection .item_left_hover
 {

	height:27px;
	background:url(../images/sel_left.gif) no-repeat;

	padding-left:15px;
	float:left;
	margin-right:7px;
 }
 #selection .item_left_hover
 {
	background:url(../images/sel_left_h.gif) no-repeat;
 }

 #selection .item_right,  #selection .item_right_hover
{
	height:27px;
	background:url(../images/sel_right.gif) no-repeat right top;
	float:left;
}

#selection .item_right_hover
{
	background:url(../images/sel_right_h.gif) no-repeat right top;
}

*html #selection .item
{
	margin-right:7px;
}
#selection .item, #selection .item_hover
{
	height:27px;
	background-color:#eaeaea;
	margin-right:15px;
	float:left;
}
#selection .item_hover
{
	background:none;
	background-color:#c9c9c9;
}

#selection .item a
{

	display:block;
	color:#636363;
	font-size:11px;
	line-height:27px;
	margin-left:-15px;
	padding-left:15px;
	margin-right:-15px;
	padding-right:15px;
}
#selection .non_sel
{

}
#selection .item a:hover
{

}
#selection .item_selected a, #selection .item_selected span, #selection .item_selected a:hover, #selection .item_selected2 a:hover,  .help .item_selected2 a:hover, .help .item_selected2 a
{
	line-height:27px;
	display:block;
	color:#ffffff;
	font-size:11px;
	text-decoration: none;

}
.help  .item_selected2 a:hover
{
	font-size:13px;
}
#selection .item_selected, #selection .item_selected2, .help .item_selected2
{
	float:left;
	background:url(../images/sel_arr.gif) no-repeat top center;
	height:34px;
		margin-right:7px;

}
#selection .item_selected a, #selection .item_selected2 a, .help .item_selected2 a
{
	color:#ffffff;
	text-decoration:none;
	font-size:11px;
}
.help .item_selected2 a
{
	font-size:13px;
}

#selection .item_selected2, .help .item_selected2
{
	background: none;
}
#selection .item_selected .item_left, #selection .item_selected2 .item_left, .help .item_selected2 .item_left
 {

	height:27px;
	background:url(../images/sel_left_b.gif) no-repeat;
margin-right:0px;
	padding-left:15px;
	float:left;

 }


 #selection .item_selected .item_right,  #selection .item_selected2 .item_right, .help  .item_selected2 .item_right
{
	height:27px;
	background:url(../images/sel_right_b.gif) no-repeat right top;
	float:left;
}
*html #selection .item_selected .item
{
	margin-right:7px;
}
*html #selection .item_selected2 .item, *html  .help  .item_selected2 .item
{
	margin-right:7px;
}
#selection  .item_selected .item, #selection  .item_selected2 .item, .help  .item_selected2 .item
{
	height:27px;
	background-color:#009be2;
	margin-right:15px;
	float:left;

}
 .help  .item_selected2 .item
 {
	line-height:27px;
 }

#products, #games, #kids, #education,  #usefull_soft, #languages, #popular, #cheap, #new
{
	margin-top:20px;
	width:100%;
	margin-left:0px;
}

.product
{
	float:left;
	width:210px;
	height:310px;
	background:url(../images/prod_bg.jpg) no-repeat;
	margin-right:20px;
	text-align:center;
	margin-bottom:11px;
}
.product a
{
	cursor:pointer;
}
.product .pic
{
	margin-top:10px;
	width:150px;
	height:150px;
	border:1px #ebebeb solid;
}
.product  .name
{
	margin-top:20px;
	height:47px;
	font-size:11px;
	padding-left:15px;
	padding-right:15px;
}
.product .price
{
	margin-top:7px;
	height:16px;
	font-size:11px;
	color:#636363;
	position: relative;
}
.cart
{
	margin-bottom:30px;
}

.product .price span, .cart span
{
	font-size:18px;
}

.product .genre
{
	margin-top:10px;
	font-size:11px;
	color: #a1a1a1;
}
.product .arrow
{
	margin-top:0px;
	text-align:right;
	margin-right:12px;
	margin-top:0px;
}

#news
{
	margin-top:24px;
	font-size:11px;
	line-height: 1.5;
}
#news .header
{
	font-size:18px;
	color: #636363;
}

#news .header .img
{
	margin-left:8px;
}

#news  .date
{
	font-size:11px;
	color:#959595;
	margin-top:19px;
}
#news  .date2
{
	font-size:11px;
	color:#959595;
	margin-top:12px;
}
#news .block
{
	margin-top:2px;
}
.s_res
{
	color:#959595;
	margin-bottom:20px;
}
.help
{
	margin:0px;
	margin-left:16px;
	font-size:13px;
	margin-top:20px;

}
.help a
{
	text-decoration:underline;
}
.help .it
{
	margin-left:15px;
	clear:both;
	margin-bottom:13px;
}
.help  .item_selected2
{
	font-size:13px;
}
#footer
{
	clear:both;
	margin-top:65px;
	border-top: 1px #b7b7b7 solid;
	height:130px;
}

#footer .left
{
	margin-left:15px;
	width:85px;
	float:left;
	margin-top:15px;
}

#footer .middle
{
	margin-left:22px;
	width:480px;
	margin-top:20px;
	float:left;
	color:#959595;
	font-size:11px;

}
#footer .middle .top
{
}
#footer .middle .bottom
{
	margin-top:10px;
}
#footer .right
{
	margin-left:38px;
	width:330px;
	margin-top:15px;
	float:left;
	color:#959595;
	font-size:11px;

}
*html #footer .right
{
	margin-left:27px;
}
#footer .right .item
{
	margin-left:6px;
	float:left;
	margin-bottom:6px;
	width:54px;
	height:34px;
}

/*
#login
{
	width:599px;
	height:197px;
	font-family:Arial;
	background: url(../images/login_bg3.png) no-repeat;
	padding-top:6px;
	padding-left: 15px;
	margin-left: -120px;
	margin-top:-60px;
	line-height:1;
	text-align:left;

}
*/

#login
{
	width:381px;
	height:204px;
	font-family:Arial;
	background: url(../images/login_bg.png) no-repeat;
	padding-top:45px;
	line-height:1;
	text-align:left;

}


.inp_left
 {

	height:27px;
	background:url(../images/inp_left.gif) no-repeat;

	padding-left:15px;

 }


 .inp_right
{
	height:27px;
	background:url(../images/inp_right.gif) no-repeat right top;

}

.inp
{
	height:27px;
	background:url(../images/inp_bg.gif) repeat-x;
	margin-right:15px;

}
.inp  input
{
	border:none;
	color: #a1a1a1;
	font-size:11px;
	width:100%;
	background:none;
	height:14px;
	margin-top:7px;
}
.acc .inp  input
{
	color: #636363;
}

#login .inner
{

	position:relative;
	width:100%;
}
#login table, #login  tr, #login  td
{
	margin:0px;
	padding:0px;
}
#login .txt
{
	font-size:11px;
	margin-right:10px;
	color:#636363;
}
#login a
{
	font-size: 11px;
}
#login .space
{
	height:10px;
}


.btn_left, .bb27_left, .bb32_left
 {

	height:35px;
	background:url(../images/btn_left.gif) no-repeat;

	padding-left:20px;
	float:left;
        cursor: pointer;

 }

 .bb27_left
 {
	height:27px;
	background:url(../images/bb27_left.gif) no-repeat;
	padding-left:15px;
 }
 .bb32_left
 {
	height:35px;
	background:url(../images/bb32_left.gif) no-repeat;
	padding-left:20px;
 }


 .btn_right, .bb27_right, .bb32_right
{
	height:35px;
	background:url(../images/btn_right.gif) no-repeat right top;
	float:left;
        cursor: pointer;
}

.bb27_right
{
	height:27px;
	background:url(../images/bb27_right.gif) no-repeat right top;
	float:left;
}
.bb32_right
{
	height:35px;
	background:url(../images/bb32_right.gif) no-repeat right top;
	float:left;
}

.btn, .bb27, .bb32
{
	height:35px;
	background:url(../images/btn_bg.gif) repeat-x;
	margin-right:25px;
	float:left;

	padding-right:10px;
	line-height:35px;

}

 .bb_part_left
 {
	height:30px;
	background:url(../images/btn_part_nav_left.png) no-repeat left top;
	padding-left:15px;
	margin-left: -15px;
}


.bb_part_right
{
	height:30px;
	background:url(../images/btn_part_nav_right.png) no-repeat right top;
	cursor: pointer;
	float: left;
}

.bb_part {
	background: url(../images/btn_part_nav.png) repeat-x;
	color: #ffffff;
	line-height: 30px;
	margin-right:14px;
}

.bb_part a {
	text-decoration: none;
	color: #ffffff;
}

.bb27
{
	height:27px;
	background:url(../images/bb27_bg.gif) repeat-x;
	margin-right:15px;
	float:left;

	padding-right:0px;
	line-height:27px;


}
.bb32
{
	height:35px;
	background:url(../images/bb32_bg.gif) repeat-x;
	margin-right:20px;
	float:left;

	padding-right:0px;
	line-height:35px;


}
.btn a , .bb27 a, .bb32 a{
	text-decoration:none;
}
*html .btn
{
	margin-right:12px;
}
 *html .bb27
 {
	margin-right:7px;
 }

  *html .bb32
  {
	margin-right:8px;
  }
.btn span, .bb27 span, .bb32 span
{

	color:#ffffff;
	font-size:16px;
}
.bb27 span
{

	color:#ffffff;
	font-size:13px;
}

.bb32 span
{

	color:#ffffff;
	font-size:16px;
}



#smart
{
	width:306px;
	display:none;
	z-index:1000;
	position:absolute;
	top:20px;left:500px;
}
*html #smart .top
{
	background: none;
	background-color: #ffffff;
	border:1px #cccccc solid;
	border-bottom: none;

}
*html #smart .bottom{
	background: none;
	background-color: #ffffff;
    border:1px #cccccc solid;
	border-top: none;
}
*html #smart .center
{
	background: none;
	background-color: #ffffff;
    border:1px #cccccc solid;
	border-bottom: none;
	border-top: none;
}
#smart .top
{
	width:306px;
	height:11px;
	background:url(../images/smart_top.png) no-repeat;
}


#smart .bottom
{
	width:100%;
	height:11px;
	background:url(../images/smart_bottom.png) no-repeat;
}
#smart .center
{
	width:100%;
	min-height:50px;
	background:url(../images/smart_bg.png) repeat-y;
}
#smart .item
{
	height:24px;
	width:297px;
	font-size:11px;
	font-family: Arial;
	color: #acacac;
	border-bottom: 1px #cccccc dashed;
	text-align: left;
	vertical-align:middle;
	margin-left:3px;
}
#smart .item a{
	margin-left:0px;
	padding-left:20px;
	display:block;

	line-height:24px;
	text-decoration:none;
}
#smart .item a:hover
{
	background-color:#d7d7d7;
}

#smart .item span
{
	margin-left:20px;
	line-height:24px;
	height:24px;
	vertical-align: middle;
}

#bread
{
	font-size:13px;
	color: #636363;
	font-size:14px;
}
#bread  .deli
{
	margin-left:10px;
	margin-right:10px;

}
#pages
{
	margin-top:35px;
	font-size:13px;
}
#pages a, #pages span
{
	margin-right:10px;
}
#pages a.arr
{
	margin-right:4px;
}


#desc_left, .ll
{
	margin-top:35px;
	width:310px;
	float:left;
	margin-left:15px;
	color:#636363;
}
*html #desc_left, *html .ll
{
margin-left:7px;
}

#desc_content
{
	margin-top:38px;
	margin-left:355px;
	width:600px;
	min-height:200px;
	position:relative;
	font-size:13px;
	color:#636363;


}

.also
{
	margin-top:38px;
	margin-left:0px;
	width:600px;
	position:relative;
	font-size:13px;
	color:#636363;


}


#desc_left .prod
{
	width:310px;
	height:310px;
	background:url(../images/prod_big_bg.jpg) no-repeat;
	padding-left:4px;
	padding-top:3px;
	padding-bottom:7px;
	padding-right:6px;
}
#desc_left .name
{
	margin-top:15px;

	font-size:18px;
}
#desc_left .txt1
{
	margin-top:40px;
	font-size:11px;
	color: #959595;
}
#desc_left .txt2
{
	margin-top:10px;
	font-size:13px;
}
#desc_left .txt2 span
{
	font-size:18px;
}
#desc_left .download
{
	margin-top:17px;
}

#desc_left .txt3
{
	margin-top:45px;
	font-size:11px;
	color: #959595;
}

#desc_left .btn2
{
	width:177px;
	height:35px;
	background:url(../images/media_btn.gif) no-repeat;
	color: #ffffff;
	line-height:35px;
}
.btn2 a
{
	text-decoration:none;
}
#desc_left .btn2 span
{
	margin-left:20px;
}

#desc_content  .screens
{
	margin-top:25px;
}

ul, ul li
{
	/*list-style-image: url(../images/ul.gif);*/
}
ul
{
	margin:0px;
	padding:0px;
	padding-left:17px;
}
ul li
{
	margin:0px;
	padding:0px;

}
#desc_content .line
{
	background-color:#b7b7b7;
	height:1px;
	margin-top:35px;
}
*html #desc_content .line
{
	padding:0px;
	margin:0px;
	margin-top:35px;
	background:none;
	border-top: 1px #b7b7b7 solid;
}
#desc_content .txt1
{
	margin-top:23px;
}

#desc_content .txt2
{
	margin-top:8px;
}
#desc_content .hed1, .also .hed1
{
	font-size:18px;
	margin-top:24px;
}

#desc_content .txt3
{
	margin-top:25px;
}
#desc_content .txt4
{
	margin-top:25px;
	color:#959595;
	font-size:11px;
	margin-top:17px;
}
#desc_content .txt4 ul, #desc_content .txt4 ul li
{
	list-style-image: url(../images/ul2.gif);
}
#desc_content .txt2 ul li
{
	padding-left:3px;
}
#desc_content .txt4 ul li
{
	padding-left:3px;
	list-style-image: url(../images/ul2.gif);
}

.also .items
{
	width:100%;
	float:left;
	margin-top:20px;
}
.also .item2
{
	float:left;
	background:url(../images/disc_bg.jpg) no-repeat;
	width:110px;
	height:110px;
	padding-left:4px;
	padding-top:3px;
	padding-right:6px;
	padding-bottom:7px;
	margin-right:0px;
	margin-bottom:0px;
}
.also .item2 img
{
	width:100px;
	height:100px;
}
.also .item_txt
{
	width:470px;
	padding-top:10px;
	float:left;
	font-size:11px;
	color: #636363;
}
.also .item_txt .inner
{
	margin-top:4px;
}
.also .item_txt a
{
	font-size:13px;

}
.also, .ll
{
	margin-top:0px;
}

.niceRadio {
	    width: 13px;
		height: 13px;
		display: inline-block;
		cursor: pointer;
		background: url(../images/radio.png);
		overflow: hidden;
}
.radioChecked {
	    background-position: 0 -13px;
	}
	.niceRadio input {
	    margin-left: -14px;
	}
#banners_desc
{

}
@media all and (-webkit-min-device-pixel-ratio:10000),
not all and (-webkit-min-device-pixel-ratio:0) {
  #menu {margin-bottom: 25px;}
}
.form-item-buttons {
 position: relative;
}
 .form-item-buttons .form-item-container {
  position: relative;
 }

 .form-item-buttons .form-submit {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  opacity: 0;
  filter: alpha(opacity=0);
  padding: 0px;
  border: none;
  height: 100%;
  width: 100%;
 }
/* button */
.b-button {
 display: -moz-inline-stack;
 display: inline-block;
 text-decoration: none;
 height: 27px;
 background: #009be2 url(../images/bg_buttons.png) no-repeat;
 background-position: 0px -77px;
 padding-left: 13px;
 white-space: nowrap;
}
 .b-button, a.b-button, a.b-button:hover  {
  color: #fff;
 }
 .b-button b {
  line-height: 26px;
 }
 .b-button span {
  padding-right: 13px;
  background: url(../images/bg_buttons.png) no-repeat;
  background-position: right -77px;
  display: -moz-inline-stack;
  display: inline-block;
  height: 27px;
 }
  .b-button span * {
   vertical-align: middle;
  }

 .b-button .b-arr-wr {
  padding: 0px 0px 0px 5px;
  display: -moz-inline-stack;
  display: inline-block;
 }

 /* b-arr */
.b-arr {
 display: -moz-inline-stack;
 display: inline-block;
 position: relative;
 overflow: hidden;
}

 .b-arr, .b-arr * {
  font-size: 0px;
  line-height: 0px;
 }
 .b-arr i {
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  width: 50px;
  height: 31px;
  background: #009be2 url(../images/bg_arr.png) no-repeat;
 }

.b-arr-7 {
 width: 7px;
 height: 7px;
}
 .b-arr-7 i {
  top: -24px;
 }

.b-arr-11 {
 width: 11px;
 height: 11px;
}
 .b-arr-11 i {
  top: -13px;
 }

.b-arr-13 {
 width: 13px;
 height: 13px;
}
 .b-arr-13 i {
  top: 0px;
 }

.b-arr-white {

}
 .b-arr-white i {
  left: -14px;
  background-color: transparent;
 }

.b-arr-l {

}
 .b-arr-l i {
  left: -37px;
 }

.b-arr-down {
 width: 10px;
 height: 8px;
}
 .b-arr-down i {
  top: 0px;
  left: -27px;
  background-color: transparent;
 }

 .b-menu-categories a span .b-arr-down {
  vertical-align: middle;
 }

 .b-block-title .b-arr {
  margin-left: 5px;
 }
/* end - b-arr */

#sales
{
	margin-left:-20px;
}

#sales table tr th
{
	padding-bottom:10px;
}
#sales table tr th.date
{
	width:150px;
	padding-left:20px;
}
#sales table tr th.id
{
	width:30px;
	text-align:right;
}
#sales table tr th.id2
{
	width:85px;
	text-align:right;
}
#sales table tr th.produ
{
	width:415px;
	padding-left:40px;
}
#sales table tr th.pay
{
	width:115px;
	text-align:right;
}
#sales table tr th.ps
{
	width:110px;

}
#sales table tr th.ps2
{
	width:110px;
	text-align:right;
	padding-right:20px;
}
#sales table tr th.cost
{
	width:75px;
	text-align:right;

}
#sales table tr th.last
{
	width:110px;
	text-align:right;
	padding-right:20px;
}
#sales table tr td
{
	padding-top:10px;
	padding-bottom:10px;
}
#sales table tr td.date
{
	width:150px;
	color:#acacac;
	padding-left:20px;
}
#sales table tr td.id
{
	width:30px;
	text-align:right;
}
#sales table tr td.id2
{
	width:85px;
	text-align:right;
}
#sales table tr td.idp
{
	width:40px;
	text-align:right;
	padding-left:20px;
}
#sales table tr th.idp
{
	width:40px;
	text-align:right;
	padding-left:20px;
}

#sales table tr td.partnerp
{
	width:210px;
	text-align:left;
	padding-left:40px;
}
#sales table tr th.partnerp
{
	width:210px;
	text-align:left;
	padding-left:40px;
}

#sales table tr td.webp
{
	width:210px;
	text-align:left;
	padding-left:40px;
}
#sales table tr th.webp
{
	width:210px;
	text-align:left;
	padding-left:40px;
}
#sales table tr td.balancep
{
	width:60px;
	text-align:right;

}
#sales table tr th.balancep
{
	width:60px;
	text-align:right;
}

#sales table tr td.allp
{
	width:135px;
	text-align:right;

}
#sales table tr th.allp
{
	width:135px;
	text-align:right;

}

#sales table tr td.datep
{
	width:180px;
	padding-left:50px;
	text-align:left;
	color:#acacac;

}
#sales table tr th.datep
{
	width:180px;
	padding-left:50px;
	text-align:left;


}

#sales table tr td.produ
{
	width:415px;
	padding-left:40px;
}
#sales table tr td.pay
{
	width:115px;
	text-align:right;
}
#sales table tr td.ps
{
	width:110px;

}
#sales table tr td.ps2
{
	width:110px;
	text-align:right;
	padding-right:20px;
}
#sales table tr td.cost
{
	width:75px;
	text-align:right;

}
#sales table tr td.last
{
	width:110px;
	text-align:right;
	padding-right:20px;

}
#sales table tr.selected
{
	background-color:#ebebeb;
	padding-left:20px;
	padding-right:20px;
}
#sales table tr, #sales table tr td, #sales table
{
	border:0px solid #ff0033;

}

table.trans .date
{
	width:190px;
	text-align:left;
}
table.trans td
{
	padding-top:18px;
}
table.trans .was
{
	width:55px;
	text-align:right;
}
table.trans .change
{
	width:120px;
	text-align:right;
}
table.trans .became
{
	width:100px;
	text-align:right;
}
table.trans .comment
{
	text-align:left;
	padding-left:50px;
}
table.trans  td.date
{
	color:#acacac;
}

#pays
{

	clear:both;
	margin-left:-5px;
	margin-top:20px;
}

#pays .pay_item
{
	width:136px;
	height:86px;
	padding:3px;
	float:left;
	margin-right:8px;
	margin-bottom:8px;
}
#pays  .selected
{
	background:url(../images/pay_bg.gif) no-repeat;
}
#pays .pay_item img
{
	width:130px;
	height:80px;
}


.inp37left
 {

	height:37px;
	background:url(../images/inp37left.gif) no-repeat;

	padding-left:20px;

 }


 .inp37right
{
	height:37px;
	background:url(../images/inp37right.gif) no-repeat right top;

}

.inp37
{
	height:37px;
	background:url(../images/inp37bg.gif) repeat-x;
	margin-right:20px;

}
.inp37  input
{
	border:none;
	color: #009be2;
	font-size:25px;
	width:100%;
	background:none;
	height:25px;
	margin-top:3px;
}
.sh1
{
	padding-left:20px;
	padding-bottom:10px;
	display:none;
}

.checkbox
{
	width:19px;
	height:19px;
	position:absolute;
	background:url(../images/checks.gif) no-repeat top left;
	cursor:pointer;
}
.checked
{

	background-position:0 -19px;
}
#sales table tr th.check
{
	padding-left:20px;
}
#sales table tr td.check
{
	padding-left:20px;
}

div.promo
{
	line-height:36px;
	vertical-align:middle;
	clear:both;
	padding-top:10px;
	overflow:hidden;
}
div.promo .left
{
	float:left;
	margin-right:10px;
}
input.biginput
{
	width:250px;
	height:37px;
	background: url(../images/big_input_bg.jpg) no-repeat;
	color:#636363;
	font-size:24px;
	line-height:37px;
	padding-left:20px;
	padding-right:40px;
	border:none;
}
#santabig
{
	margin-left:-80px;
}
.banner
{
	margin-bottom:15px;
	width:240px;
	color:#636363;
	font-size:11px;
}
#products.santa .product
{
    margin-left: 14px;
    margin-right: 0;
}
.product .price span.non {
    text-decoration: line-through;
}
.product .price .null {
    color: red;
    font-size: 22px;
    font-weight: bold;
    left: 95px;
    position: absolute;
    top: -20px;
}

