@import url(screen.css);

.hFloat, * html .b-main .l-main-wrapper {
    zoom: 1;
}


* html body {
	 background-image:url(about:blank);
  background-attachment:fixed;
}

.g-dtable, .g-dltable dd {
 zoom: 1;
 _height: 0px;
}

a, area  {
 filter:expression(function(t){
  t.runtimeStyle.filter = '';
  if (!t.onfocus)
   t.onfocus = function(){
    this.blur();
   }
 }(this));
}

* html {
 filter:expression(function(t) {
  t.runtimeStyle.filter = '';
  try{document.execCommand('BackgroundImageCache', false, true)}catch(e){};
 }(this));
}

* html .form-item-buttons .form-submit {
  width: auto;
  width:expression(function(t) {
  var p = t.parentNode;
  t.runtimeStyle.width = p.offsetWidth + 'px';
  t.runtimeStyle.height = p.offsetHeight + 'px';
 }(this));
}

.g-inbl, .g-inbllist li, .g-inbllist ul, .g-inbllist ol, .b-arr, .b-menu-categories a, .b-menu-categories a span, .b-menu_sub .b-active span, .b-button, .b-button .b-arr-wr, .b-button span, * html .b-button b, #js .b-product-media dt span, .b-profile_perc-graph, .b-profile_perc-graph i {
 zoom:1;
 display: inline;
}

.b-button .b-arr-wr {
  padding-top: 2px;
}

.b-button-big .b-arr-wr {
  padding-top: 4px;
}

.b-menu-categories a span {
 width: auto;
}

.b-menu-categories a span i {
 vertical-align: middle;
}

.b-menu-categories a span .b-arr-down {
 margin-top: 2px;
}

.b-search-result .b-arr {
 margin-right: 6px;
}

.b-checkout-form .form-item {
 overflow: visible;
}

.b-checkout_list tr.b-total {
 border: none;
}
.b-checkout_list tr.b-total td {
 border-top: 1px dashed #959595;
}

* html .b-main {
 height: 100%;
 overflow: visible;
}

* html #fancybox-loading {
	position: absolute;
	margin-top: 0;
}

* html #fancybox-overlay {
	position: absolute;
	width: 100%;
}

.cmf-skinned-select {
 padding-bottom: 0px;
}

.b-round {
 text-align: right;
}

.b-round .l {
 position: relative;
 float: left;
}

.b-round .r {
 position: relative;
 display: inline-block;
}

* html .b-round .l i, * html .b-round .r i {
 background: none;
 filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/bg_round.png);
}