body
{
     margin:0;
    padding:0;
    text-align: center;
    color:#0f0f0f;

}
#wrapper
{
    width:800px;

    border: none;

    min-height: 300px;
    height:100%;
    font-family:Arial;
    margin: 0 auto;
    text-align: left;
	line-height:1.4;
}

p
{
text-align:center;
}
name
{
text-align: center;
}
#text
{
font-family: Arial;
font-weight:bold;
text-align: center;
font-size: 10pt;
padding-right:140px;
padding-left:80px;

}

.text
{
font-family: Arial;
font-weight:bold;
text-align: center;
font-size: 10pt;
padding-right:140px;
padding-left:80px;

}

#text2
{
font-family: Arial;
padding-right:40px;
padding-left:25px;
margin-left:20px;
font-size: 10pt;
text-align: justify;
}

.text2
{
font-family: Arial;
padding-right:40px;
padding-left:25px;
margin-left:20px;
font-size: 10pt;
text-align: justify;
}

#table1
{
text-align:center;
padding-top:5px;
padding-left:0px;
margin-bottom:6px;

}
#table1 table, #table1 table tr, #table1 table td, #table1 table th
{
	border:1px #000 solid;
	border-collapse:collapse;
}
 table th
{
	font-weight:bold;
	background:#d3d8d6;
}
table td, table th
{
	padding:2px;
	
}
#table2
{
text-align:left;
margin-left:-20px;
}
#table2 table, #table2 table tr, #table2 table td, #table2 table th
{
	border:1px #000 solid;
	border-collapse:collapse;
}
#table2 table th
{
	text-align:center;
}
ol li
{
	margin-bottom:6px;
}